.CurrentWeather{
    display: none;
    grid-template-rows: repeat(2 ,1fr);
    width: 55%;
    padding: 10px;
    height: 100%;
    transition: 0.5s;
}
.CurrentWeather-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.weather-span{
    display: flex;
    align-items: center;
}
.CurrentWeather-weekly{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 3%;
}
.days-card{
    display: inline-block;
    text-align: center;
    width: 26%;
    height: 105px;
    border-radius: 10px;
    background-color: #d8d8d8a4;
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    padding: 5px;
}
.CurrentWeather.active{
    display: grid;
}
